<!-- Toolbar -->
<mat-toolbar class="app-header">
    <span>Todo List APP</span>
    <span class="nav-tool-items">
        <div *ngIf="!loggedIn()">
            <a mat-button routerLink="login" routerLinkActive="active">Entrar</a>
            <a mat-button routerLink="register" routerLinkActive="active">Cadastrar</a>
        </div>

        <div *ngIf="loggedIn()">
            <a mat-button routerLinkActive="active" routerLink="categorias">Categorias</a>
            <a mat-button routerLinkActive="active" routerLink="">Listas</a>
            <a mat-button routerLinkActive="active" (click)="logout()">({{currentUser?.nome}}) Sair</a>
        </div>
    </span>
</mat-toolbar>

<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>