<h2>Listas de categorias</h2>

<div style="margin-bottom: 10px;">
  <button mat-flat-button color="primary" routerLink="/categoria-add">Adicionar categoria</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="opcoes">
    <th mat-header-cell *matHeaderCellDef>Opções</th>
    <td mat-cell *matCellDef="let element">
      <a mat-flat-button routerLink="/categoria-edit/{{element.id}}">Editar</a>
      <!-- <a mat-flat-button (click)="delete(element.id)">Excluir</a> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
