<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Editar lista de tarefas</h1>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="listaForm" (ngSubmit)="submitForm()" #resetListaForm="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome da lista" formControlName="nome">
                    <mat-error *ngIf="handleError('nome', 'required')">
                        Informe o nome da lista
                    </mat-error>
                </mat-form-field>
            </div>

            <div  class="controlers-wrapper">
                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoriaId">
                        <mat-option [value]="categoria.id" *ngFor="let categoria of categorias">
                            {{categoria.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('categoriaId', 'required')">
                        Selecione uma categoria
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Salvar edição</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>