<h2>Listas de tarefas</h2>

<div style="margin-bottom: 10px;">
  <button mat-flat-button color="primary" routerLink="lista-add">Criar Lista</button>
</div>

<div class="filtros" [formGroup]="filtroForm">
  <mat-form-field>
    <input matInput placeholder="Nome da lista" formControlName="nome">
  </mat-form-field>

  <mat-form-field style="margin-left: 10px;">
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoriaId">
      <!-- <mat-option [value]="">Todas</mat-option> -->
      <mat-option [value]="categoria.id" *ngFor="let categoria of categorias">
        {{categoria.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button style="margin-left: 10px;" (click)="getListas()">Filtrar</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.categoria.nome}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="concluida">
    <th mat-header-cell *matHeaderCellDef> Concluida? </th>
    <td mat-cell *matCellDef="let element"> {{element.concluida ? "Sim" : "Não"}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="opcoes">
    <th mat-header-cell *matHeaderCellDef>Opções</th>
    <td mat-cell *matCellDef="let element">
      <a mat-flat-button routerLink="/lista-details/{{element.id}}">Ver</a>
      <a mat-flat-button (click)="concluir(element.id)" *ngIf="!element.concluida">Concluir</a>
      <a mat-flat-button routerLink="/lista-edit/{{element.id}}">Editar</a>
      <a mat-flat-button (click)="delete(element.id)">Excluir</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>