<button mat-flat-button color="accent" routerLink="/" style="margin-bottom: 10px;">
    <mat-icon>list</mat-icon> Voltar
</button>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h2>Lista de tarefas</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <label>Nome da lista</label>
            <span>{{lista.nome}}</span>
        </div>

        <div class="field">
            <label>Categoria</label>
            <span>{{lista.categoria.nome}}</span>
        </div>

        <div class="field">
            <label>Concluída?</label>
            <span>{{lista.concluida ? 'Sim' : 'Não'}}</span>
        </div>

        <div class="field">
            <label>Tarefas da lista</label>
            
            <table mat-table [dataSource]="tarefas" class="mat-elevation-z8">
              
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario.nome}} </td>
                  </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="concluida">
                  <th mat-header-cell *matHeaderCellDef> Concluida? </th>
                  <td mat-cell *matCellDef="let element"> {{element.concluida ? "Sim" : "Não"}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="opcoes">
                  <th mat-header-cell *matHeaderCellDef>Opções</th>
                  <td mat-cell *matCellDef="let element">
                    <a mat-flat-button (click)="concluirTarefa(element.id)" *ngIf="!element.concluida">Concluir</a>
                    <a mat-flat-button routerLink="/tarefa-edit/{{element.id}}">Editar</a>
                    <a mat-flat-button (click)="deleteTarefa(element.id)">Excluir</a>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div style="margin-top: 10px;">
                <button mat-flat-button color="primary" routerLink="/listas/{{lista.id}}/tarefa-add/">Adicionar tarefa</button>
              </div>
        </div>
    </mat-card-content>
</mat-card>