<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Editar categoria</h1>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="categoriaForm" (ngSubmit)="submitForm()" #resetListaForm="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <!-- Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome da categoria" formControlName="nome">
                    <mat-error *ngIf="handleError('nome', 'required')">
                        Informe o nome da categoria
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Salvar</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>