<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Cadastrar</mat-card-title>
      </mat-card-header>
  
      <form class="register-form" (ngSubmit)="onSubmit()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" type="text" [formControl]="nomeFormControl">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" [formControl]="emailFormControl">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Senha" type="password" [formControl]="senhaFormControl">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Cadastrar</button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  
      </form>
    </mat-card>
  </div>